<section>
    <div class="container mt-5">
        <div class="row">
            <div class="user_nav account_nav_div">
                <div class="account-nav">
                    <h4 class="account-nav__title">Navigation</h4>
                    <ul>
                        <li class="account-nav__item">
                            <a routerLink="/admin" routerLinkActive="active">Dashboard</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/categories" routerLinkActive="active">Categories</a>
                        </li>
						<li class="account-nav__item">
                            <a routerLink="/admin/products" routerLinkActive="active">Products</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/orders" routerLinkActive="active">Orders</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/shipping" routerLinkActive="active">Shippings</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/reviews" routerLinkActive="active">Reviews</a>
                        </li>
                        <li class="account-nav__item account-nav__item--active">
                            <a routerLink="/admin/wishlists" routerLinkActive="active">Wishlists</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/payments" routerLinkActive="active">Payments</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/users" routerLinkActive="active">Users</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/profile" routerLinkActive="active">Profile</a>
                        </li>
                        <li class="account-nav__item">
                            <a class="logout-link" (click)="Logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user_content ">
                <div class="table-responsive-sm">
                    <table>
                        <thead>
                            <tr>
                                <th class="update-seller-prod">WishlistId</th>
                                <th>User</th>
                                <th>Product Name</th>
                                <th>Brand</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th>Added Date</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of wishlists">
                                    <td class="update-seller-prod">{{item.wishlistId}}</td>
                                    <td>{{item.identityUsername}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.brand}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.addedDate | date: 'dd MMMM yyyy'}}</td>
                                </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>


