<section>
    <div class="container mt-5">
        <div class="row">
            <div class="user_nav account_nav_div">
                <div class="account-nav">
                    <h4 class="account-nav__title">Navigation</h4>
                    <ul>
                        <li class="account-nav__item">
                            <a routerLink="/admin" routerLinkActive="active">Dashboard</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/categories" routerLinkActive="active">Categories</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/products" routerLinkActive="active">Products</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/orders" routerLinkActive="active">Orders</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/shipping" routerLinkActive="active">Shippings</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/reviews" routerLinkActive="active">Reviews</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/wishlists" routerLinkActive="active">Wishlists</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/payments" routerLinkActive="active">Payments</a>
                        </li>
						<li class="account-nav__item account-nav__item--active">
                            <a routerLink="/admin/users" routerLinkActive="active">Users</a>
                        </li>
                        <li class="account-nav__item">
                            <a routerLink="/admin/profile" routerLinkActive="active">Profile</a>
                        </li>
                        <li class="account-nav__item">
                            <a class="logout-link" (click)="Logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user_content ">
                <div class="p-lg-5" style="text-align: right;">
                    <a routerLink="/admin/users/create" routerLinkActive="active" class="btn btn-lg btn-dark">Create</a>
                </div>
                <div class="table-responsive-sm">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    UserName
                                </th>
                                <th>
                                    FirstName
                                </th>
                                <th>
                                    LastName
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    PhoneNumber
                                </th>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of users">
                                    <td>{{item.userName}}</td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.phoneNumber}}</td>
                                    <td>{{getUserRole(item.userName)}}</td>
                                    <td>
                                        <a routerLink="/admin/users/update/{{item.userName}}" routerLinkActive="active"  class="btn btn-lg btn-info w-100">Update</a>
                                        &nbsp;
                                        <a routerLink="/admin/users/delete/{{item.userName}}" routerLinkActive="active" class="btn btn-lg btn-danger w-100">Delete</a>
                                    </td>
                                </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
